body {
    margin: 30px;
    text-align: left;
    background-color: #061922;
    font-family: 'Arial', sans-serif; /* Choose a suitable font family */
    color: #fff;
}

a {
    color: #fefe00;
    text-decoration: none; /* Remove underlines from links */
}

.container {
    position: absolute;
    left: 10%;
    right: 10%;
}

h1 {
    font-family: 'Courier New', monospace; /* Maintain the typewriter effect */
    font-size: 24px; /* Increase font size for better readability */
    margin: 30px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 4s steps(60, end);
}

.veg {
    color: lime;
}

h2,
h3,
.typing1,
.typing2,
.typing3,
.typing4,
.typing5,
.typing6,
.typing7 {
    font-family: 'monospace'; /* Choose a modern, readable font */
    font-size: 20px; /* Adjust font size for readability */
    margin: 10px 0 0 10px;
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
}

h2 {
    animation: type2 3s steps(60, end);
}

h3 {
    animation: type2 4s steps(60, end);
}

.typing1 {
    animation: type2 6s steps(60, end);
}

.typing2 {
    animation: type2 9s steps(60, end);
}

.typing3 {
    animation: type2 14s steps(100, end);
}

.typing4 {
    animation: type2 20s steps(60, end);
}

.typing5 {
    animation: type2 35s steps(60, end);
}

.typing6 {
    animation: type2 67s steps(60, end);
}

.years {
    background-color: black;
    margin: 0 10px;
    animation: blink 2s infinite;
}

.instagram {
    color: #E1306C;
}

.twitter {
    color: #405DE6;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100;
    }
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

@media only screen and (min-width: 992px) {
    h1,
    h2,
    h3,
    .typing1,
    .typing2,
    .typing3,
    .typing4,
    .typing5,
    .typing6,
    .typing7 {
        white-space: nowrap;
    }
}
